################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/taller_oper_esp/taller_oper_esp/.vs/taller_oper_esp/v15/Browse.VC.opendb
